{% extends "layout/home-layout.html" %}

{% block 'content1' %}
  <div class="container">
    <div class="container col-md-6 bg-white mt-5 p-4 rounded">
      {% if user.is_authenticated %}
      <p class="display-3 text-center mb-5">You are currently logged in as <b>{{ user.username }}</b></p>
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-lg btn-outline-danger w-100 mb-2">Log Out</button>
      </form>
      {% else %}
      <p>You are not currently logged in.</p>
      {% endif %}
      <a href="{% url 'home' %}" class="btn btn-lg btn-outline-dark w-100">Cancel</a>
    </div>
  </div>
{% endblock %}